@mixin menu(){
	

	.navigation {
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: black;
		box-shadow: 0 4px 4px -3px #232323;
		-moz-box-shadow: 0 4px 4px -3px #232323;
		-webkit-box-shadow: 0 4px 4px -3px #232323;
		overflow: hidden;
		transition: all 0.4s ease-in-out;
		padding-top: 0px;
	}

	.navigation a {
		text-decoration: none;
	}

	.navigation ul {
		margin-top:30px;
		text-align:center;
		list-style:none; 
		margin-left:auto;
		margin-right:auto;
	}


	.menulist {
		width:200px;
		height:100px;
	}


	.logo {
		text-align:center;
		margin:0 auto;
	}

	.line1, .line2, .line3 {
		margin-top:5px;
		background-color:#fff;
		width:25px;
		height:3px;
		display:block;
		position:relative;
		opacity:1.0;
		border-radius:15%;
		transition: all .3s;
	}

	.line1.active {
		transform: rotate(270deg);
		opacity:0.0;
		background-color:yellow;
		top:5px;
	}

	.line2.active {
		transform: rotate(45deg);
		background-color:yellow;
	}

	.line3.active {
		transform: rotate(-45deg);
		background-color:yellow;
		top:-7px;
	}

	.menuitems {
		padding-top:12px;
		padding-bottom:12px;
		text-decoration: none;
		list-style:none; 
		font-family: "Lato", sans-serif;
		font-weight: 300;
		font-size: 24px;
		display: inline-block;
		position:relative;	
		text-align:center;
		color: #fff;
		opacity:0.0;
		transition: all .5s ease-in-out;
	}

	.menuitems:after {
		content:'';
		display:block;
		width: 0;
		height: 1px;
		background: #fff;
		transition: width .2s;
	}

	.menuitems:hover::after {
		width:100%;
	}

	#closebtn {
		height:25px;
		width:25px;	
		position: absolute;
		text-decoration:none;
		top: 10px;
		left: 25px;
		font-size: 36px !important;
		margin-right: 50px;
		z-index:100;
		color:#fff;
		cursor:pointer;
		trainsition:background-position .3s;
	}

	#main {	
		transition: margin-top .4s;
		text-align:center;
		margin:auto;
		padding: 16px;
		font-size:30px;
	}

}
.bienvenida{

	background-image: url("../img/fondo-bienvenida.jpg");
	max-width: 100%;
	background-size: cover;
	background-position: center; /* Para centrar la imagen*/
	padding: 5em 0;
	padding-right: 0px;
	padding-left: 46px;

	.logo{
		text-align: left;
		padding: 0 30px;
	}
	.mensaje{
		margin: 10px 0px 10px 0px;
	}
}

//Seccion Video
.video{
	background-color:black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: absolute;
	margin-top: -50px;
	padding: 3em 0;

	video{
		margin: 10px 0px 10px 0px;
		max-width: 100%;
		width: 110%;
		position:fixed;	
	}
}
//SECCION TRES.
@mixin seccion-tres(){

	background-image: url("../img/fondo-about.jpg");
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5em 0;
	background-position: center left;

	.texto-tres{
		color: white;
		margin: 0 auto;
		padding: 30px 10px 100px 0px;

	}
	h1 {
		font-weight: bolder;
		font-size: 7rem;
		line-height: 7rem;
		text-transform: uppercase;
		width: 40%;
	}	
	.row{
		display: flex;
		justify-content: center;
	}
	p{
		font-size: 2rem;
		width: 100%;
	}
}

//SECCION CUATRO:

.tipo-de-te{
	background-position: center;
	padding: 20px;
	padding-left: 50px;
	text-align:center;

	.container h2{
		color: #ff4d4d;
	}
	.row{
		display: flex;
		justify-content: center;
	}
}

//SECCION CINCO.
@mixin seccion-cinco(){
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;

	img.img-responsive{
		margin: 0;
		padding-bottom: 26px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	img.img-responsive:hover{
		background-color:red;
	}
	.img-text{
		position: absolute;
		left: 15px;
		top: 0;
		background-color: #EA4748; /*Sandia*/
		color: #fff;
		padding: 10px 25px;
		font-weight: 700;
	}
}

//SECCION SEIS.
@mixin seccion-seis(){
	background-image: url("../img/disfruta.jpg");
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5em 0;
	background-position: center left;
	.texto-seis{
		color: white;
		margin: 0 auto;
		padding: 30px 10px 100px 0px;

	}
	h1 {
		font-weight: bolder;
		font-size: 7rem;
		line-height: 7rem;
		text-transform: uppercase;
		width: 100%;
	}	
	.row{
		display: flex;
		justify-content: center;
	}
}

//seccion siete
.just-te{
	.cuanto{
		h2{
			margin: 88px 153px 29px;
		}
		p{
			margin: 18px 100px 180px;
		}
	}

	.uno{
		background-color:#ffffcc;

		img{
			margin: 28px 153px 180px;
			padding-top: 120px;
			max-width: 100%;
			top: 50%;
			text-align:center;
		}
	}
	.debo{
		h2{
			margin: 88px 153px 29px;
		}
		p{
			margin: 18px 100px 180px;
		}
		ul{
			margin: 18px 100px 150px;
			margin-top: -162px;
		}
	}

	.dos{
		background-color:#99ff99;

		img{
			margin: 28px 153px 180px;
			padding-top: 120px;
			max-width: 100%;
			top: 50%;
			text-align:center;
		}
	}
	.cuantos{
		h2{
			margin: 88px 153px 29px;
		}
		p{
			margin: 18px 100px 180px;
		}
	}

	.tres{
		background-color:#ffffcc;

		img{
			margin: 28px 153px 180px;
			padding-top: 120px;
			max-width: 100%;
			top: 50%;
			text-align:center;
		}
	}
}

//SECCION OCHO:

@mixin seccion-ocho(){
	background-image: url("../img/parallax-4_720.jpg");
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5em 0;
	background-position: center left;
	.texto-ocho{
		color: white;
		margin: 0 auto;
		padding: 30px 10px 100px 0px;

	}
	h1 {
		font-weight: bolder;
		font-size: 7rem;
		line-height: 7rem;
		text-transform: uppercase;
		width: 100%;
	}	
	.row{
		display: flex;
		justify-content: center;
	}
}

//SECCION NUEVE:
.carrusel {
	
	margin-top: -8px;
	background-color:black;
	text-align:center;

	
	/* Carousel Styles */
	.carousel-indicators .active {
		background-color: #2980b9;

	}

	.carousel-inner img {
		width: 100%;

		max-height: 460px

	}

	.carousel-control {
		width: 10%;
	}

	.carousel-control.left,
	.carousel-control.right {
		opacity: 1;
		filter: alpha(opacity=100);
		background-image: none;
		background-repeat: no-repeat;
		text-shadow: none;
	}

	.carousel-control.left span {
		padding: 15px;
	}

	.carousel-control.right span {
		padding: 15px;
	}

	.carousel-control .glyphicon-chevron-left, 
	.carousel-control .glyphicon-chevron-right, 
	.carousel-control .icon-prev, 
	.carousel-control .icon-next {
		position: absolute;
		top: 45%;
		z-index: 5;
		display: inline-block;
	}

	.carousel-control .glyphicon-chevron-left,
	.carousel-control .icon-prev {
		left: 0;
	}

	.carousel-control .glyphicon-chevron-right,
	.carousel-control .icon-next {
		right: 0;
	}

	.carousel-control.left span,
	.carousel-control.right span {

	}

	.carousel-control.left span:hover,
	.carousel-control.right span:hover {
		opacity: .7;
		filter: alpha(opacity=70);
	}

	/* Carousel Header Styles */
	.header-text {
		position: absolute;
		top: 20%;
		left: 1.8%;
		right: auto;
		width: 96.66666666666666%;
		color: #fff;
	}

	.header-text h2 {
		font-size: 40px;
	}

	.header-text h2 span {
		background-color: #2980b9;
		padding: 10px;
	}

	.header-text h3 span {
		background-color: #000;
		padding: 15px;
	}

	.btn-min-block {
		min-width: 170px;
		line-height: 26px;
	}

	.btn-theme {
		color: #fff;
		background-color: transparent;
		border: 2px solid #fff;
		margin-right: 15px;
	}

	.btn-theme:hover {
		color: #000;
		background-color: #fff;
		border-color: #fff;
	}
	.row{
		display: flex;
		justify-content: center;
	}
}

//sECCION 10
.amamos-el-te{

	.texto-diez{
		color: black;
		margin: 0 auto;
		padding: 30px 10px 100px 0px;

	}
	h3{
		margin: 18px 100px 29px;
	}
	p{
		margin: 20px 100px 180px;
	}
	ul{
		margin: 18px 100px 0px;
		margin-top: -162px;
	}
}
