@mixin menu(){
	

	.navigation {
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: black;
		box-shadow: 0 4px 4px -3px #232323;
		-moz-box-shadow: 0 4px 4px -3px #232323;
		-webkit-box-shadow: 0 4px 4px -3px #232323;
		overflow: hidden;
		transition: all 0.4s ease-in-out;
		padding-top: 0px;
	}

	.navigation a {
		text-decoration: none;
	}

	.navigation ul {
		margin-top:30px;
		text-align:center;
		list-style:none; 
		margin-left:auto;
		margin-right:auto;
	}


	.menulist {
		width:200px;
		height:100px;
	}


	.logo {
		text-align:center;
		margin:0 auto;
	}

	.line1, .line2, .line3 {
		margin-top:5px;
		background-color:#fff;
		width:25px;
		height:3px;
		display:block;
		position:relative;
		opacity:1.0;
		border-radius:15%;
		transition: all .3s;
	}

	.line1.active {
		transform: rotate(270deg);
		opacity:0.0;
		background-color:yellow;
		top:5px;
	}

	.line2.active {
		transform: rotate(45deg);
		background-color:yellow;
	}

	.line3.active {
		transform: rotate(-45deg);
		background-color:yellow;
		top:-7px;
	}

	.menuitems {
		padding-top:12px;
		padding-bottom:12px;
		text-decoration: none;
		list-style:none; 
		font-family: "Lato", sans-serif;
		font-weight: 300;
		font-size: 24px;
		display: inline-block;
		position:relative;	
		text-align:center;
		color: #fff;
		opacity:0.0;
		transition: all .5s ease-in-out;
	}

	.menuitems:after {
		content:'';
		display:block;
		width: 0;
		height: 1px;
		background: #fff;
		transition: width .2s;
	}

	.menuitems:hover::after {
		width:100%;
	}

	#closebtn {
		height:25px;
		width:25px;	
		position: absolute;
		text-decoration:none;
		top: 10px;
		left: 25px;
		font-size: 36px !important;
		margin-right: 50px;
		z-index:100;
		color:#fff;
		cursor:pointer;
		trainsition:background-position .3s;
	}

	#main {	
		transition: margin-top .4s;
		text-align:center;
		margin:auto;
		padding: 16px;
		font-size:30px;
	}

}
.bienvenida{

	background-image: url("../img/fondo-bienvenida.jpg");
	max-width: 100%;
	background-size: cover;
	background-position: center; /* Para centrar la imagen*/
	padding: 5em 0;
	.logo{
		text-align: left;
		padding: 0 30px;
	}

	.mensaje {
		text-align: center;
	}
}

//Seccion Video
.video{
	background-color:black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: absolute;
	margin-top: -50px;
	padding: 3em 0;

	video{
		margin: 10px 0px 10px 0px;
		max-width: 100%;
		width: 110%;
		position:fixed;	
	}
}
//SECCION TRES.
.nuestra-pasion{
	background-image: url("../img/fondo-about.jpg");
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5em 0;
	background-position: center left;
	.texto-tres{
		color: white;
		width: 40%;
		margin: 0 auto;
		padding: 30px 30px 100px 30px;
	}
	h1 {
		font-weight: bolder;
		font-size: 5rem;
		line-height: 5rem;
		text-transform: uppercase;
	}	
}

.tipo-de-te{
	background-position: center;
	padding: 20px;
	padding-left: 50px;
	text-align:center;

	.container h2{
		color: #ff4d4d;
	}
	.row{
		display: flex;
		justify-content: center;
	}
}

//SECCION CINCO.
.collage{
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;

	img.img-responsive{
		margin: 0;
		padding-bottom: 26px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	.img-text{
		position: absolute;
		left: 15px;
		top: 0;
		background-color: #EA4748; /*Sandia*/
		color: #fff;
		padding: 10px 25px;
		font-weight: 700;
	}
}

//SECCION SEIS.
.preguntas{
	background-image: url("../img/disfruta.jpg");
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5em 0;
	background-position: center left;
	.texto-seis{
		color: white;
		width: 40%;
		margin: 0 auto;
		padding: 30px 30px 100px 30px;

		h1 {
			font-weight: bolder;
			font-size: 5rem;
			line-height: 5rem;
			text-transform: uppercase;

		}	
	}
}

//seccion siete
.just-te{
	.uno{

		background-color:#ffffcc;

		img{
			padding: 20px 10px 20px 10px;
			max-width: 100%;
			top: 50%;
			
		}
	}
}
