*{

	margin: 0;
	padding:0;

}
.container, .container-fluid {
	margin-right: 0;
	margin-left: 0;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

@import url(https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css);
body {
	font-family: "Lato", sans-serif;
	overflow:hidden;
	transition: background-color .5s;
	overflow: scroll;
}

.nav{
	@include  menu();
	padding: 0 15px;
	margin: 0 -15px;
}
.nuestra-pasion{
	@include seccion-tres();

	.logo{
		text-align: left;
		padding: 0 30px;
	}
}


.collage {
	@include seccion-cinco()
	.img-responsive img {
		-webkit-transition: all .3s ease; /* Safari and Chrome */
		-moz-transition: all .3s ease; /* Firefox */
		-o-transition: all .3s ease; /* IE 9 */
		-ms-transition: all .3s ease; /* Opera */
		transition: all .3s ease;
	}
	.img-responsive img:hover {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
		-moz-transform:scale(1.20); /* Firefox */
		-ms-transform:scale(1.20); /* IE 9 */
		-o-transform:translatZ(0) scale(1.20); /* Opera */
		transform:translatZ(0) scale(1.20);
	}
	
	
	.grayscale {
		-webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
		-moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
		filter: brightness(1.10) grayscale(100%); 
	}
}
//PREGUNTAS
.preguntas{
	@include seccion-seis();
}



//CAMPOS:
.campos{
	@include seccion-ocho();
}

footer{
	background-color:grey;
	color:white;
	img{
		padding:10px;
	}
	p{
		padding:10px;
	}
}