@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


body {
	font-family: "Lato", sans-serif;
	overflow:hidden;
	transition: background-color .5s;
	overflow: scroll;
}

.nav{
	@include  menu();
}

