*{

	margin: 0;
	padding:0;

}
.container, .container-fluid {
	margin-right: 0;
	margin-left: 0;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


body {
	font-family: "Lato", sans-serif;
	overflow:hidden;
	transition: background-color .5s;
	overflow: scroll;
}

.nav{
	@include  menu();
	padding: 0 15px;
	margin: 0 -15px;
}
.nuestra-pasion{
	@include seccion-tres();

	.logo{
		text-align: left;
		padding: 0 30px;
	}
}
//PREGUNTAS
.preguntas{
	@include seccion-seis();
}